<?xml version="1.0" encoding="UTF-8"?>
<!--+
    | Log4j2 configuration file.
    +-->
<configuration status="OFF" monitorInterval="30">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--+
                | %class is the real class, %logger is the logger name |%c{1.}
                +-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class (%logger):%line [%method]%n%msg%n" />-->
            <PatternLayout pattern="%d{ISO8601}  %-6p %-50logger{1.}  %-6L  %-30M  %m%n" />
        </Console>
    </appenders>
    <Loggers>
        <Logger name="org.bremersee" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework.web" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework.security" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- Hibernate logging options (INFO only shows startup messages) -->
        <!--
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        -->
        <!-- If show_sql is not displayed -->
        <!--
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        -->
        <!-- Log JDBC bind parameter runtime arguments -->
        <!--
        <Logger name="org.hibernate.type" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</configuration>